<%= form_with model:book,local:true do |f| %>
  <%= render 'layouts/errors', obj: @new_book %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class = "form-group mb-2" id="evaluate_stars">
    <label>Evaluation</label><br>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>

<script>
$('#evaluate_stars').raty({
  starOn: "<%= asset_path('star-on.png') %>",
  starOff: "<%= asset_path('star-off.png') %>",
  starHalf: "<%= asset_path('star-half.png') %>",
  scoreName: 'book[evaluation]' //登録するモデル名とカラム名を記述
});
</script>
